@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
      font-family: "AlimamaFangYuanTiVF-Square";
      src: url("./assets/fonts/AlimamaFangYuanTiVF-Thin.ttf");
      src: url("./assets/fonts/AlimamaFangYuanTiVF-Thin.woff");
      src: url("./assets/fonts/AlimamaFangYuanTiVF-Thin.woff2");
    }
}
